@import './_bg_texture';

body,
html {
  @include bgTexture;
  position: relative;
}

.App {
  text-align: center;
  height: 100vh;
}

.main-headline {
  margin: 0;
  padding: 2rem 0;
  text-transform: uppercase;
}

.about {
  margin-bottom: 5em;

	a {
		margin-right: .25rem;
		background-color: $color3;
		color: white !important;
		transition: all .2s;
		padding: .5rem 1rem;
		border-radius: 5px;

		&:hover {
			background-color: white;
			color: $color3 !important;
		}
	}
}