/* Coolors Exported Palette - coolors.co/dee5e5-546a76-bcf4f5-bcd39c-9fd356 */

/* RGB */
$color1: rgba(222, 229, 229, 1);
$color2: rgba(84, 106, 118, 1);
$color3: rgba(188, 244, 245, 1);
$color4: rgba(188, 211, 156, 1);
$color5: rgba(159, 211, 86, 1);