.subreddit-search {
  
}

.subreddit-search__input-stage {
  background: $color3;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
}

.subreddit-search__input {
  width: 50vw;
}

.actions {
  margin-bottom: 1rem;
}