.subreddit-search-results {
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;

  * {
    transition: all .2s;
  }
}

.search-result {
  width: 25%;
  margin: 0 .5rem .5rem 0;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;

  .post-headline {
    margin: 0;

    $pointer-after-border-width: 20px;
    $pointer-before-border-width: 26px;

    a {
      display: block;
      text-decoration: none;
      color: $color3;
      text-align: left;
      background-color: $color2;
      padding: 1rem;
      border: 4px transparent solid;
      border-radius: 5px;
      position: relative;

      &:hover {
        color: white;
        border-color: $color2;
      }

      &:visited {
        background-color: $color5;
        color: white;

        &:after {
          border-top-color: $color5;
          border-width: $pointer-after-border-width;
          margin-left: -$pointer-after-border-width;
        }
        &:before {
          border-top-color: $color5;
          border-width: $pointer-before-border-width;
          margin-left: -$pointer-before-border-width;
        }
      }

      &:after, 
      &:before {
        top: 100%;
        left: 2rem;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(84, 106, 118, 0);
        border-top-color: $color2;
        border-width: $pointer-after-border-width;
        margin-left: -$pointer-after-border-width;
      }
      &:before {
        border-color: rgba(84, 106, 118, 0);
        border-top-color: $color2;
        border-width: $pointer-before-border-width;
        margin-left: -$pointer-before-border-width;
      }
    }
  }

  .selftext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .author {
    position: absolute;
    bottom: 0;
  }
}