.subreddit-search {
  
}

.subreddit-search__input-stage {
  background: white;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $color2;
}

.search-input-wrapper {
  display: flex;
  justify-content: center;
}

.subreddit-search__input {
  width: 50vw;
}

.actions {
  margin-bottom: 1rem;
}