.subreddit-search-results {
  padding: 0 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.search-result {
  width: 25%;
  margin: 0 .5rem .5rem 0;
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  position: relative;

  h2 {
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  .selftext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .author {
    position: absolute;
    bottom: 0;
  }
}